*{
    margin: 0;
}
.banner{
    background-image: url('images/donation3.jpg');
    height: 600px;
    text-align: center;
    color: rgb(250, 254, 2);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed; 
      
}
.btn-primary{
    background: #FF5959;
    color: white;
    font-weight: 700;
    font-size: 20px;
    border: 0;
    padding: 16px 20px;
    height: 64px;
    border-radius: 5px;
    width: 160px;
    height: 56px;
    text-align: center;
}
.container{
    position: absolute;
    width: 826px;
    height: 320px;
    left: 307px;
    top: 174px;

}
h1{
    font-weight: 700;
    font-size: 65px;
    
}
.banner-title{
    font-weight: 400;
    font-size: 18px;
    gap: 20px 375px 30px 375px;
}

/* donate style */

.donate{
    height: 200px;
    width: 700px;  
}
.title{
    font-weight: 700;
    font-size: 45px;
    line-height: 54px;
    text-align: center;
    color: #121212;
    margin-top: 130px;
}
.sub-title{
    display: flex;
    margin: 50px 340px 60px 340px;
    background: #FAFAFA;
    border-radius: 5px;
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    text-align: center;
    text-decoration: none;
    list-style-type: none;
    justify-content: space-evenly;
}
.box:hover {
    background-color: #FF5959;

}

.dialog{
    font-weight: 400;
    font-size: 18px;
    text-align: center;
    color: #707070;
    margin: 20px 375px 0 375px;
}
ul{
    display: flex;
    text-align: center;
}
.box{
    text-align: center;
    border: 0 solid red;
    padding: 22px 40px;
    margin: 0 22px;
    font-weight: 700;
    font-size: 30px;
    color: #707070;
    
}
.section-description{
    color: #B3B3B3;
    font-weight: 400;
    font-size: 18px;
    text-align: center;
}

.source{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    margin-bottom: 130px;
}

/* food sale  */



.food-sale{
    display: flex;
    padding: 50px 155px 150px 155px;
}
.titles{
    font-weight: 600;
    font-size: 24px;
}
.food-description{
    color: #B3B3B3;
    font-weight: 400;
    font-size: 18px;
    padding: 20px 0px;
}
.food-title{
    padding: 30px 22px 54px 23px;
}

.Description{
    width: 90%;
    margin: 0 auto;
    /* background-color: yellow; */
  }
  .First{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: left;
    gap: 50px;
  }
  .Second{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: left;
    gap: 50px;
  }
  
  .Desc_Title{
    font-weight: bold;
    color: black;
    font-size: 45px;
  }
  .Desc_des{
    font-size: 20px;
    line-height: 1.5rem;
    padding-bottom: 20px;
    padding-top: 15px;
  }
  
  .pic{
    width: 450px;
    height: 450px;
  }
.primary_btn{
    width: 230px;
    height: 56px;  
    background: #FF5959;
    border-radius: 5px;
}
.poor{
    padding-top: 130px;
    padding-bottom: 50px;
}
.from{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 200px;
}
.personal{
    height: 48px;
    width: 432px;
}
.btn-secendari{
    background: #FF5959;
    color: white;
    font-weight: 700;
    font-size: 20px;
    border: 0;
    padding: 16px 20px;
    height: 64px;
    width: 160px;
    height: 56px;
    text-align: center;
}
.humble{
    color: #FF5959;
    text-align: center;
    
}
.foot{
    background: #0B0D17;
    padding: 40px 630px 42px 650px;
}